# @package _global_
name: evaluation
seed: 0
print_config: True
ignore_warnings: True


prediction_path: ${oc.env:PREDICTIONS_PATH}/test/2024-10-21_15-14-42.862679  # only needed for prediction mode
split: test

defaults:
  - datamodule: rome_data
  - _self_

hydra:
  run:
    dir: ${oc.env:OUTPUT_DIR}/${now:%Y-%m-%d_%H-%M-%S}
  job:
    chdir: True